
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <select id="editAirplaneType">
                        <option value="Boeing747">Boeing747</option>
                        <option value="Airbus">Airbus</option>
                        <option value="FlyingCarpet">Flying carpet</option>
                    </select>
                    <select id="editAirport">
                        <option value="Amsterdam">Amsterdam</option>
                        <option value="Berlin">Berlin</option>
                        <option value="London">London</option>
                        <option value="Paris">Paris</option>
                        <option value="Stockholm">Stockholm</option>
                    </select>
                    <input id="editFuel" type="number" name="amount of fuel" value=5>
                    <button type="button" class="btn btn-default"  onclick="putData();">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
